.header{
    width: 100%;
    height: 582px;
    background-image: url(../../images/header-bg.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    position: calc(center center);
    margin: 0;
    padding-top: 30px;
}

.header__div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1170px;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
}

.link:hover{
    opacity: 0.8;
}

.link:active{
    opacity: 0.6;
}

.header__list{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 644px;
}

.header__item{
    margin: 0;
    padding: 0;
}

.header__item:nth-child(7){
    .header__link{
        width: 120px;
        height: 46px;
        border: 2px solid #FFFFFF;
        border-radius: 4px;
        margin: 0;
        padding: 11px 17px;
    }
}

.header__item:nth-child(1), .header__item:nth-child(2), .header__item:nth-child(3), .header__item:nth-child(4), .header__item:nth-child(6){
    .header__link:hover{
        color: #1E0FC8;
    }
}

.header__link{
    text-decoration: none;
    font-family: $main-font-family;
    font-weight: 400;
    font-size: 14px;
    color: #fff;
}

.header__link:hover{
    color: #5AB963;
}

.header__link:active{
    color: #fff;
}

.header__about{
    width: 751px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 148px;
    padding: 0;
}

.header-title{
    font-family: $main-font-family;
    font-weight: 700;
    font-size: 71px;
    color: #fff;
    text-align: center;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
}

.header__text{
    font-family: "IBM Plex Mono", sans-serif;
    font-weight: 700;
    font-size: 13px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 35px;
    margin-bottom: 60px;
    padding: 0;
}

.header__link1{
    text-decoration: none;
    font-family: $main-font-family;
    font-size: 16px;
    color: #fff;
    width: 160px;
    height: 60px;
    background-color: #5AB963;
    border-radius: 4px;
    text-align: center;
    margin-left: 640px;
    padding: 15px 30px;
}

.header__link1:hover{
    background-color: #006262;
}

.header__link1:active{
    background-color: #5AB963 ;
}
