.recusabo{
    margin-top: 90px;
    padding: 0;
}

.recusabo__div{
    width: 1170px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 230px;
    justify-content: space-between;
    display: flex;
}

.recusabo__about{
    width: 370px;
    margin: 0;
    padding: 0;
}

.recusabo__text{
    font-family: $main-font-family, sans-serif;
    font-weight: 100;
    font-size: 24px;
    column-rule: #999999;
    margin: 0;
    padding: 0;
}

.recusabo__strong{
    font-family: $main-font-family, sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #000;
    margin: 0;
    padding: 0;
}

.recusabo__text1{
    font-family: "IBM Plex Mono", sans-serif;
    font-weight: 400;
    font: 14px;
    color: #999999;
    margin-top: 25px;
    padding: 0;
}

.recusabo__image{
    width: 470px;
    height: 330px;
}

.recusabo__heading{
    width: 344px;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
    text-align: center;
    margin-top: 110px;
}

.recusabo__title{
    text-align: center;
    font-family: $main-font-family, sans-serif;
    font-weight: 700;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.recusabo__link{
    text-decoration: none;
    font-family: "IBM Plex Mono", sans-serif;
    font-weight: 400;
    font-size: 11px;
    color: #5AB963;
    text-align: center;
    margin-top: 12px;
    padding: 0;
}

.recusabo__span{
    display: block;
    width: 1170px;
    height: 2px;
    background-color: #999999;
    margin-right: auto;
    margin-left: auto;
    margin-top: 121px;
    padding: 0;
}