.suscipit{
    margin: 0;
    padding: 0;
}

.suscipit__section{
    width: 1170px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 150px;
    padding: 0;
}

.suscipit__div{
    width: 120px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    margin: 0;
    padding: 0;
}

.suscipit__link{
    text-decoration: none;
    font-family: $main-font-family, sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #5AB963;
}

.suscipit__span{
    display: block;
    width: 30px;
    height: 2px;
    background-color: #5AB963;
}

.suscipit__about{
    width: 100%;
    justify-content: space-between;
    align-items: center;
    display: flex;
    margin: 0;
    padding: 0;
}

.suscipit__information{
    width: 483px;
    margin: 0;
    padding: 0;
}

.suscipit__text{
    font-family: $main-font-family, sans-serif;
    font-weight: 100;
    font-size: 24px;
    color: #999999;
}

.suscipit__strong{
    font-family: $main-font-family, sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #000;
}

.suscipit__link1{
    text-decoration: none;
    width: 160px;
    height: 50px;
    margin: 0;
    padding: 14px 30px;
    border-radius: 4px;
    background-color: #5AB963;
    align-items: center;
    font-family: $main-font-family, sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
}

.suscipit__link1:hover{
    background-color: #006262;
}

.suscipit__link1:active{
    background-color: #5AB963;
}
