.tempor{
    margin-top: 120px;
    padding: 0;
}

.tempor__div{
    display: flex;
    width: 1170px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 238px;
    justify-content: space-between;
}

.tempor__image{
    width: 470px;
    height: 330px;
}

.tempor__about{
    width: 360px;
    margin: 0;
    padding: 0;
}

.tempor__text{
    font-family: $main-font-family, sans-serif;
    font-weight: 100;
    font-size: 24px;
    color: #ABABAB;
    margin: 0;
    padding: 0;
}

.tempor__strong{
    font-family: $main-font-family, sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #000;
    margin: 0;
    padding: 0;
}

.tempor__text1{
    font-family: "IBM Plex Mono", sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #999999;
    margin-top: 25px;
    padding: 0;
}