.voluptaria{
    width: 100%;
    height: 398px;
    margin: 0;
    padding: 115px 0 ;
}

.voluptaria__div{
    width: 685px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    padding: 0;
}

.voluptaria__text{
    font-family: $main-font-family, sans-serif;
    font-weight: 100;
    font-size: 24px;
    color: #C9C9C9;
}

.voluptaria__strong{
    font-family: $main-font-family, sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #000000;
}

.voluptaria__link{
    text-decoration: none;
    font-family: "IBM Plex Mono", sans-serif;
    font-weight: 400;
    font-size: 11px;
    color: #5AB963;
    margin-top: 6px;
    text-align: center;
    padding: 0;
}

.voluptaria__span{
    display: block;
    width: 100%;
    height: 2px;
    background-color: #C9C9C9;
    text-align: center;
    margin-top: 115px;
    padding: 0;
}